*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
   width: auto;
   height: auto;
   
}
#preloader{
background: black url(preloader.gif) no-repeat center;
background-size: 50%;
height: 100vh;
width: 100%;
position: fixed;
z-index: 100;
}
/*Nav bar section starts..*/
nav{
    height: 55px;
    background-color:rgb(32, 32, 34);
}
.navbar{
    float: right;
    list-style-type: none;
    text-decoration: none;
    padding: 6px;
}
li{
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
    padding: 8px 12px 8px 12px;
    color: white;
}
li:hover{
    background-color: rgb(153, 48, 48);
    transition: 1s;
    border-radius: 15px;
}
#topic{
   font-size: 30px;
   float: left;
   margin-left: 20px;
   color: white;
   padding: 10px;
}
.underline{
   text-decoration: none;
   color: white;
}
.navimage{
 width: 70px;
 height: 40px;
 margin-left: 7px;
 border-radius: 20px;
 margin-top: 10px;
}
#nav{
   position: sticky;
   top: 0;    
}
/*Nav bar section ends..*/

/*Content section starts..*/
#bgimage{
 background-image: url(tentimage.jpg);
width: 100%;
height: 700px;
background-repeat: no-repeat;
background-size: 100% 100%;
}
.major{
text-align: center;
padding: 40px;
font-size: 2rem;
padding-bottom: 3%;
color: white;
}
.group{
    display: flex;
    padding: 4%;
    margin: 0 auto;
    gap: 5%;
}
#group1{
background:linear-gradient(to right,#8929AD,#db7c0f,#43B7B8);
width: 33.33%;
height: 500px;
border-radius: 20px;
text-align: center;
justify-content: center;
align-items: center;
animation:animate 6s infinite ease-in-out;
background-size: 400% 400%;

}
#group2{
    background: linear-gradient(to right, #7303c0,#ec38bc,#fdeff9);
    width: 33.33%;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation:animate 6s infinite ease-in-out;
    background-size: 400% 400%;
}
#group3{
background: linear-gradient(to right, #FF3CAC , #784BA0 ,#2B86C5);
width: 33.33%;
border-radius: 20px;
text-align: center;
justify-content: center;
align-items: center;
animation:animate 6s infinite ease-in-out;
background-size: 400% 400%;
}
@keyframes animate{
0%{
background-position: 0 50%;
}
50%{
    background-position: 100% 50%;
}
100%{
  background-position: 0 50%;
 }
}
.topi{
display: flex;
justify-content: center;
align-items: center;
font-weight: bold;
font-size: 30px;
padding: 15px 0 15px 0;
}
.content{
text-indent: 50px;
padding: 0 30px 30px 30px;
text-align: justify;
font-size: 20px;
}
#group4{
    width: 33.33%; 
    height: 500px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #08AEEA;
}
#group5{
    width: 33.33%;
    height: 500px; 
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #2AF598;
}
#group6{
    width: 33.33%;
    height: 500px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #ffd89b;
}
.button{
 text-decoration: none;
 background-color: black;
 font-weight: bold;
 color: white;
 font-size: 20px;
 padding: 10px;
 border-radius: 12px 0 12px 0;
}
.button:hover{
    background-color: white;
    color: black;
}
/*Content section ends..*/
/*Footer section starts..*/
footer{
    background-color: black;
    height: 130px;
}
#icons{
    display: flex;
    column-gap: 25px;
    align-items: center;
        justify-content: center;
        padding-top: 12px;
}
.insa{
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 25px;
        color: #fff;
        border-radius: 50%;
        outline: 2px solid #fff;
        transition: .25s;
        
}
.icon:hover{
    outline-offset: 4px;
}
 .icon:hover i{
    animation: shake .25s;
 }
 .insta:hover{
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    outline-color:#a02d76;
 }
 .face:hover{
             background-color: #00008B;
             outline-color: #285AEB;
 }
 .what:hover{
             background-color: #25D366;
             outline-color: #075E54;
 }
 .twit:hover{
    background-color: #1DA1F2;
    outline-color: #00008B;
 }
 #foott{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding-top: 10px;
 }
/*footer section ends..*/